{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Registracija {% endblock %}


{% block content %}


<div class="card card-signin">
    <div class="card-body">


    <h4>Registracija</h4>
    <hr>

    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}


        <button type="submit">Registruotis</button>
    </form>

        <p>Jau turite paskyrą? <a href="{% url 'login' %}">Prisijungti</a></p>
        <br>


    </div>
</div>


{% endblock content %}
